
.pets-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filters {
    display: flex;
    align-items: center;
    span{
        width: 40%;
    }
}


.c-petCard {
    display: flex;
    flex-direction: column;
    cursor: pointer;    
    width: 48%;
    margin-bottom: 4%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &--name{
        text-transform: uppercase;
        margin: 0;
    }

    &--img {
        width: 100%;
        height: 250px;
        background-size: cover;
        background-position: center;
    }

    &__icon {

        &--red {
            color: red;
        }

        &--orange {
            color: orange;
        }

        &--yellow {
            color: yellow;
        }
    }

    &__content {
        padding: 0.4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding: 0.4rem;

        &--right{
            display: flex;
            align-items: flex-end;
            span {
                margin-right: 5px;
            }
        }
    }
}