<div class="filters">
  <div class="filters__left">
    <span>Ordena las mascotas por: </span>
    <app-search-input [placeholder]="'Elige un campo para ordenar'" [error]="false" [items]="sortItems"
      (selectValueEmitter)="getSortItem($event)"></app-search-input>
  </div>
  <div class="filters__right">
    <button (click)="getPetOfTheDay()" class="c-button">Pet of the day</button>
  </div>
</div>

<div class="pets-wrapper" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [fromRoot]="true"
  (scrolled)="onScroll($event)">
  <div class="c-petCard" *ngFor="let pet of pets" (click)="goToPet(pet?.getId())">
    <div class="c-petCard--img" [style.background-image]="pet?.getPetPhotoUrl()"></div>
    <div class="c-petCard__header">
      <h3 class="c-petCard--name"> {{pet?.getPetName()}} </h3>
      <div class="c-petCard__header--right">
        <span> {{pet?.getHealthName()}} </span>
        <i [ngClass]="pet?.getHealth() === 0 ? 'c-petCard__icon--yellow' : pet?.getHealth() === 1 ? 'c-petCard__icon--orange' : 'c-petCard__icon--red'"
          class="material-icons c-petCard__icon">favorite</i>
      </div>
    </div>
    <div class="c-petCard__content">
      <p> Altura: {{pet?.getPetHeight()}} </p>
      <p> Peso: {{pet?.getPetWeight()}} </p>
      <p> Longitud: {{pet?.getPetLength()}} </p>
      <p> Tipo: {{pet?.getPetKind()}} </p>
    </div>
  </div>
</div>

 <app-modal [show]="showModal" (closeModalEmitter)="closeModal()">
  <h2>Mascota del día </h2>
  <div class="c-petCard">
    <div class="c-petCard--img" [style.background-image]="pets[0]?.getPetPhotoUrl()"></div>
    <div class="c-petCard__header">
      <h3 class="c-petCard--name"> {{pets[0]?.getPetName()}} </h3>
      <div class="c-petCard__header--right">
        <span> {{pets[0]?.getHealthName()}} </span>
        <i [ngClass]="pets[0]?.getHealth() === 0 ? 'c-petCard__icon--yellow' : pets[0]?.getHealth() === 1 ? 'c-petCard__icon--orange' : 'c-petCard__icon--red'"
          class="material-icons c-petCard__icon">favorite</i>
      </div>
    </div>
    <div class="c-petCard__content">
      <p> Altura: {{pets[0]?.getPetHeight()}} </p>
      <p> Peso: {{pets[0]?.getPetWeight()}} </p>
      <p> Longitud: {{pets[0]?.getPetLength()}} </p>
      <p> Tipo: {{pets[0]?.getPetKind()}} </p>
    </div>
  </div>
 </app-modal>
