.ac-search-input {
  position: relative;
  padding-bottom: 20px;

  span{
    margin-bottom: 3px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__icon {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 24px;
    width: 24px;
    z-index: 10;
    cursor: pointer;
  }

  &__text {
    font-size: 12px;
    color: #333;
    height: 40px;

    &:focus {
      outline: none;
    }

    &.error{
      border: 1px solid red;
    }
  }

  &__error {
    color: red;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    bottom: 3px;
  }

  &__list {
    margin: 0;
    max-height: 150px;
    overflow: auto;
    position: absolute;
    background-color: #ffffff;
    -webkit-box-shadow: -5px 27px 49px -29px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 27px 49px -29px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 27px 49px -29px rgba(0, 0, 0, 0.75);
    width: 100%;
    left: 0;
    z-index: 10;

    li {
      padding: 15px;
      cursor: pointer;

      &:hover{
          background-color: grey;
      }

      &.active{
        background-color: grey;
      }
    }
  }
}


:host{
  width: 100%;
}