<div class="ac-search-input">
  <label class="ac-search-input__label">
    <span>{{label}}</span>
    <input type="text" class="ac-search-input__text" placeholder="{{placeholder}}" [ngClass]="{'error': error}"
      maxlength="255" [(ngModel)]="model" (keyup)="keyUp($event)" />
    <div class="ac-search-input__icon">
      <i class="material-icons c-petCard__icon" (click)="toggleItems()">expand_more</i>
    </div>
  </label>
  <ul *ngIf="showItems" class="ac-search-input__list">
    <li *ngFor="let item of itemsF; let i = index" [ngClass]="(i == indexSelected) ? 'active' : ''"
      (click)="selectValue(item)">{{item.name}}</li>
  </ul>
  <div *ngIf="error" class="ac-search-input__error">
    {{errorMsg}}
  </div>
</div>
