

  <div class="timer">
      <div class="timer-block">
        <span class="timer-block--number">{{days}}</span>
        <span class="timer-block--text"> days </span>
      </div>
      <div class="timer-block">
        <span class="timer-block--number">{{hours}}</span>
        <span class="timer-block--text"> hours </span>
      </div>
      <div class="timer-block">
        <span class="timer-block--number">{{minutes}}</span>
        <span class="timer-block--text"> minutes </span>
      </div>
      <div class="timer-block">
        <span class="timer-block--number">{{seconds}}</span>
        <span class="timer-block--text"> seconds </span>
      </div>
  </div>
