

.c-pet {

    &__img {
        height: 450px;
        background-position: center;
        background-size: cover;
    }

    &__icon {

        &--red {
            color: red;
        }

        &--orange {
            color: orange;
        }

        &--yellow {
            color: yellow;
        }
    }

    &__content {
        padding: 0.4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;

        span {
            font-weight: 700;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.4rem;

        &--right{
            display: flex;
            align-items: flex-end;
            span {
                margin-right: 5px;
            }
        }
    }

    &__footer {
        padding: 0.4rem;
    }
}