
<div class="c-pet">
  <div class="c-pet__img" [style.background-image]="pet?.getPetPhotoUrl()">
  </div>
  <div class="c-pet__header">
    <h3 class="c-pet--name"> {{pet?.getPetName()}} </h3>
    <div class="c-pet__header--right">
      <span> {{pet?.getHealthName()}} </span>
      <i [ngClass]="pet?.getHealth() === 0 ? 'c-pet__icon--yellow' : pet?.getHealth() === 1 ? 'c-pet__icon--orange' : 'c-pet__icon--red'"
        class="material-icons c-pet__icon">favorite</i>
    </div>
  </div>
  <div class="c-pet__content">
    <p> <span>Altura:</span> {{pet?.getPetHeight()}} </p>
    <p> <span>Peso: </span> {{pet?.getPetWeight()}} </p>
    <p> <span>Longitud:</span> {{pet?.getPetLength()}} </p>
    <p> <span>Tipo: </span> {{pet?.getPetKind()}} </p>
  </div>

  <p class="c-pet__footer"> {{pet?.getDescription()}} </p>
</div>
