
<div class="login--container">
    <app-input [placeholder]="'Email'" [type]="form?.mail?.type" [value]="form?.mail?.value" [validation]="form?.mail?.validation"  [error]="form?.mail?.error" 
    [errorMsg]="form?.mail?.msg"
    (keyUpEmitter)="validateFormInput($event, 'mail')"> 
    </app-input>
    <app-input [placeholder]="'Password'" [type]="form?.password?.type" [value]="form?.password?.value" [validation]="form?.password?.validation" [errorMsg]="form?.password?.msg"
    (keyUpEmitter)="validateFormInput($event, 'password')"> 
    </app-input>

    <button class="c-button" [disabled]="disableButton" (click)="goToHome()"> Login </button>
</div>
